.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.waterfallTree {
  fill: blue; /* or any other desired color */
}

.lpTree {
  fill: green;
}

.gpTree {
  fill: red;
}


.AccordionButton{
  color: #dc3545;
  font-size: 14px ;
  border: 1px solid #dc3545;
  border-radius: 4px;
  padding: 6px;
  margin-right: 10px;
  text-align: center;
}
.AccordionButton:hover{
background-color: #dc3545;
color: white;
}